*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f0f0f5;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5{
    color: #322153;
}
